.defeat {
  font-family: KochAltschrift;
  max-width: 80vh;
  min-height: 40vh;
  background: none;
  border: none;
  overflow: hidden;
}

.defeat-container {
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 75vh;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.defeat-message {
  font-size: 1.7rem;
  gap: 1px;
  position: absolute;
  text-align: center;
  max-width: 30vh;
  text-wrap-mode: wrap;
  top: 32%;
  left: 29%;
  z-index: 1;
}

.defeat-img {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  width: 65vh;
  min-height: 55vh;
  top: 50%;
  left: 5%;
  margin: 0 auto;
  filter: brightness(2);
}

.defeatButton {
  position: absolute;
  top: 65%;
  left: 42%;
  background: none;
  border-color: white;
  border-width: 2px;
  font-size: 1.2rem;
  z-index: 1;
}

.defeatButton:focus-visible,
.defeatButton:focus {
  outline: none;
}
