.game-container {
  background-image: url("./assets/images/backgroundGame.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  max-width: 130vh;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
}

.potions-container {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 65vh;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  cursor: pointer;
}

.potions-0 {
  width: 11vh;
  height: 10vh;
  top: 63%;
  left: 3%;
}

.potions-1 {
  width: 11vh;
  height: 10vh;
  top: 63%;
  left: 25%;
}

.potions-2 {
  width: 11vh;
  height: 10vh;
  top: 63%;
  left: 46%;
}

.potions-3 {
  width: 11vh;
  height: 10vh;
  top: 63%;
  left: 67%;
}

.potions-0,
.potions-1,
.potions-2,
.potions-3 {
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 200px;
}

@media (width <= 687px) {
  .game-container {
    width: 63.5vh;
  }

  h1 {
    left: 30%;
  }

  .potions-container {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: 65vh;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    cursor: pointer;
  }

  .potions-0,
  .potions-1,
  .potions-2,
  .potions-3 {
    top: 65%;
  }

  .potions-0 {
    left: 9%;
  }
  .potions-1 {
    left: 30%;
  }

  .potions-2 {
    left: 50%;
  }

  .potions-3 {
    left: 72%;
  }
}

@media (width <= 430px) {
  .game-container {
    position: relative;
    width: 55.5vh;
    height: 60vh;
    justify-content: center;
    justify-items: center;
    background-size: auto 100%;
  }

  .game-container h1 {
    top: 76%;
    left: 27%;
  }

  .potions-0,
  .potions-1,
  .potions-2,
  .potions-3 {
    top: 70%;
  }

  .potions-0 {
    left: 6%;
  }

  .potions-1 {
    left: 25%;
  }

  .potions-2 {
    left: 46%;
  }

  .potions-3 {
    left: 67%;
  }
}
